# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python virtual environment
venv/
.venv/
env/
*.pyc
__pycache__/

# Secrets
.env
*.env

# IDE / OS specific
.idea/
.vscode/
*.DS_Store

# Media files (if you want to manage them via volumes outside the image)
# media/ # فعلا کامنت باشه، چون برای توسعه محلی ممکنه بخوایم با کد کپی بشن

# Static files collected by collectstatic (for production)
# staticfiles/
# static_root/

# Database file (if SQLite and you don't want it in the image for some reason)

.env
*.sqlite3
db.sqlite3